@model List<Edile.Models.RecordPagamento>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="container" aria-labelledby="aspnetTitle">
                 <div class="row">
                    <div class="col-2"><p>Id Pagamento</p></div>
                    <div class="col-2"><p>Data</p></div>
                    <div class="col-2"><p>Ammontare</p></div>
                    <div class="col-1"><p>Acconto</p></div>
                    <div class="col-1"><p>idDipendente</p></div>
                    <div class="col-2"><p>Nome</p></div>
                    <div class="col-2"><p>Cognome</p></div>
                </div>
        

            @foreach(Edile.Models.RecordPagamento RP in Model) 
            
            { 
            
                <div class="row border border-1 border-opacity-50">
                    <div class="col-2"><p>@RP.Id</p></div>
                    <div class="col-2"><p>@RP.Data</p></div>
                    <div class="col-2"><p>@RP.Ammontare €</p></div>
                    <div class="col-1"><p>@RP.Acconto</p></div>
                    <div class="col-1"><p>@RP.IdDipendente</p></div>
                    <div class="col-2"><p>@RP.Nome</p></div>
                    <div class="col-2"><p>@RP.Cognome</p></div>
                </div>
           
            
            
            }

        

    </section>

</main>

